html, body{
	padding: 0px;
	margin: 0px;
}
canvas { 
	border: 1px solid #999;
	display: block;
	margin: auto;
	margin-bottom: 20px;
	cursor: pointer;
}
.container{
	width: 90%;
	min-width: 900px;
	margin: auto;
	padding-bottom: 20px;
}
h1,p,li{
	font: 400 14px arial, sans-serif;
	line-height: 24px;
	color: #555;
}
h1{
	font-size: 28px;
	font-weight: bold;
	margin: 16px 0px;
}
hr{
	margin: 20px 0px;
	border: none;
	border-top: 1px solid #ddd;
}
button{
	background: white;
	padding: 10px 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 14px;
	color: #777;
	cursor: pointer;
}
button:hover{
	background: rgb(250,250,250);
	color: #333;
}
.text-center{
	text-align: center;
}
button:active, button:focus{
	outline: none;
}